$primary-color: hsl(219, 85%, 26%);
$text-color-primary: hsl(219, 12%, 42%);
$text-color-secondary: hsl(219, 14%, 63%);
$background-color-primary: hsl(210, 60%, 98%);
$background-color-secondary: hsl(0, 0%, 100%);
$font-weight: 500;
$font-weight-bold: 800;
